body,html,ul,li,span{
	padding: 0;
	margin : 0;
}
a{
	text-decoration : none;
}
li{
	list-style: none;
}
img{
	display: block;
}
body,html{
	width:100%;
	font-size : 12px;
}
@mixin position($position:absolute,$left:0,$top:0){
	position:$position;
	left:$left;
	top:$top;
}

@mixin right{
	float : right;
}
@mixin clear{
	float : none;
	overflow : hidden;
}
@mixin auto{
	margin : 0 auto;
}

	
