//引用工具箱
@import 'Dolbal';
//navigate   css 样式
.navigate{
	overflow:hidden;
	width:100%;
	background: #000;
	.navigate-box{
		margin:0 auto;
		width:1090px;
		a{
			color : #999999;
		}
		.left li{
				float:left;
				margin :5px 25px  5px  0 ;	
		}
		.right{
			float:right;
			li{
				float:left;
				margin :5px 25px 5px 0;
			}
		}
	}
}
// header  css  LOGO search  cart 样式 
.logo-search{
	width: 100%;
	height: auto;
	.search-box{
		width: 1090px;
			height: auto;
		margin:0 auto;
		a{
			float:left;
			img{
				margin:22px 137px 16px  10px;
			}
		}
		.search{
			float:left;
			width: 510px;
			height: 40px;
			border: 2px solid #ff1e40;
			border-radius:30px;
			@include position(relative);
			margin-top:25px;
			span{
				display: block;
				width:60px;
				height: 44px;
				background: #ff1e40 url(../gulpimg/loupe.png)  no-repeat center;
				border-radius:30px;
				float:right;
				@include position(absolute,460px,-2px);
			}
			ul{
				@include position(absolute,10px,47px);		
				li{
					float:left;
					margin:0  16px;
					a{
						color:#9795a0;	
					}
				}
				li:hover a{
					color: #ff1e35;
				}
			}
		}
		.shopping-cart{
			width:60px;
			height:40px;
			border: 2px solid #FF1E40;
			border-radius:30px;
			line-height:40px;
			float:left;
			padding-left:50px;
			color:#333;
			background:url(../gulpimg/cart.png) no-repeat 18px center;
			margin:25px 0 0 70px;
		}
		.meau-bar{
			clear: both;
			width:100%;
			height:40px;
			line-height:40px;
			li{
				float:left;
				margin-left:44px;
				a{
					color:#3b3841;
					font-size: 14px;
					font-weight: bold;
				}
			}
			.first-li{
				font-size: 14px;
				margin-left: 12px;
				width:165px;
				height:100%;
				background:linear-gradient(to left,#fe3061 20%, #ff0a11);
				color: #fff;
				text-align:center;
				font-weight: bold;
				@include position(relative);
				div{
					@include position(absolute,15px,15px);
					i{
						display: block;
						width: 15px;
						height:2px;
						background: #fff;
						margin-bottom:3px;
						
					}
				}
// 				.two-meau{
// 					@include position(absolute);
					
// 				}
				.two-meau{
					@include position(absolute,-12px,40px);
					
					li{
						@extend .first-li;
						height:46px;
						clear:both;	
						background:linear-gradient(to left,#fe3061 20%, #ff0a11);
						a{
							display: block;
							width: 60px;
							margin-left:2px;
							padding:0  48px 0 54px; 
							text-align: left;
							color:#fff;	
							border-bottom:1px solid #ff515d;
							.lg{
								font-size: 17px;
								color:rgba(255,255,255,0.3);
								@include position(absolute,130px)
							}
						}
					}
					li:first-child a{
						border-top:1px solid #ff515d;
					}
					
				}
				
			}
			.two-meau-div{
				width:930px;
				height:460px;
				border: 1px solid #ff515d;
				@include  position(absolute,264px,173px);
				padding-left:15px;
				overflow:hidden;
				.two-meau-div-ul{
					width:334px;
					float:left;
					.two-meau-div-ul-h3{
						width:334px;
						line-height:35px;
						border-bottom:1px solid #eaeaea;
						color:#333333;
						text-align:left;
						font-size:14px;
						float:left;
					}
					.two-ul{
						width:334px;
						height:150px;
						overflow:hidden;
						padding-left: 15px;
						li{
							float:left;
							text-align: center;
							margin:0 37px 0 0;
							color: #666666;
							
						}
					}
				}
				
			}
			
		}
		
	} 
}
//head 一级菜单和二级菜单