body, html, ul, li, span, i, h3, p {
  padding: 0;
  margin: 0; }

h3 {
  font-weight: normal; }

a {
  text-decoration: none; }

li {
  list-style: none; }

img {
  display: block; }

body, html {
  width: 100%;
  font-size: 12px; }

section {
  background: #DEE1FF;
  padding-bottom: 100px; }

.banner {
  width: 100%;
  height: 505px;
  position: relative;
  left: 0;
  top: 0; }
  .banner .banner-img {
    width: 100%;
    height: 100%;
    position: relative;
    left: 0;
    top: 0; }
    .banner .banner-img > li {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0; }
      .banner .banner-img > li img {
        width: 100%;
        height: 100%; }
  .banner > span {
    display: block;
    width: 30px;
    height: 70px;
    background: #000;
    z-index: 1000000;
    font-size: 40px;
    line-height: 70px;
    text-align: center;
    opacity: 0.7; }
    .banner > span a {
      color: #fff; }
  .banner span:nth-of-type(1) {
    position: absolute;
    left: 30px;
    top: 50%;
    margin-top: -35px; }
  .banner span:nth-of-type(2) {
    position: absolute;
    right: 30px;
    top: 50%;
    margin-top: -35px; }
  .banner .circle {
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 100000000;
    width: 110px;
    background: rgba(0, 0, 0, 0.7);
    padding: 5px;
    border-radius: 20px;
    margin-left: -55px; }
    .banner .circle > li {
      float: left; }
      .banner .circle > li a {
        display: block;
        width: 10px;
        height: 10px;
        background: #fff;
        border-radius: 50%;
        margin: 5px; }
    .banner .circle li:nth-of-type(1) {
      margin-left: 5px; }

.coupon {
  width: 1000px;
  margin: 0 auto; }
  .coupon a:nth-of-type(1) {
    display: block;
    width: 100%;
    height: 484px;
    margin-bottom: 15px; }
    .coupon a:nth-of-type(1) img {
      width: 100%;
      height: 100%; }
  .coupon a:nth-of-type(2) {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    background: #f6f6f6; }
    .coupon a:nth-of-type(2) img {
      width: 100%; }
  .coupon a:nth-of-type(3) {
    display: block;
    width: 100%;
    background: #f6f6f6; }
    .coupon a:nth-of-type(3) img {
      width: 100%; }

.four-img {
  width: 1000px;
  margin: 0 auto; }
  .four-img ul {
    width: 100%;
    overflow: hidden; }
    .four-img ul li {
      width: 225px;
      height: 287px;
      float: left;
      margin: 10px; }
      .four-img ul li a {
        display: block;
        width: 100%;
        height: 100%; }
        .four-img ul li a img {
          width: 100%;
          height: 100%; }
    .four-img ul li:nth-of-type(1) {
      margin-left: 18px; }
    .four-img ul li:nth-of-type(4) {
      margin-right: 0; }

.list1 {
  width: 1000px;
  margin: 0 auto; }
  .list1 h3 {
    width: 100%;
    line-height: 50px;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    background: #e31436;
    text-align: center;
    margin: 10px 0; }
  .list1 .list-ul {
    width: 100%;
    overflow: hidden; }
    .list1 .list-ul li {
      width: 192px;
      height: 305px;
      background: #fff;
      float: left;
      margin: 0px 0 7px 7px; }
      .list1 .list-ul li > span {
        display: block;
        width: 100%;
        height: 100%; }
        .list1 .list-ul li > span a {
          display: block; }
          .list1 .list-ul li > span a img {
            margin: 0 auto;
            width: 192px; }
        .list1 .list-ul li > span a:nth-of-type(2) {
          font-size: 15px;
          font-weight: bold;
          color: #333;
          height: 30px;
          overflow: hidden;
          line-height: 25px;
          padding-left: 5px; }
        .list1 .list-ul li > span a:nth-of-type(3) {
          color: #666;
          line-height: 30px;
          padding-left: 5px; }
        .list1 .list-ul li > span > div {
          width: 182px;
          padding: 0 5px;
          margin-top: 5px; }
          .list1 .list-ul li > span > div p {
            float: left;
            font-size: 20px;
            color: #e31436; }
            .list1 .list-ul li > span > div p span {
              font-size: 12px;
              color: #ccc;
              text-decoration: line-through;
              margin-left: 5px; }
          .list1 .list-ul li > span > div > a {
            float: right;
            display: block;
            width: 68px;
            height: 22px;
            background: #e31436;
            text-align: center;
            line-height: 22px;
            color: #fff; }
    .list1 .list-ul li:hover > span {
      height: 345px;
      border: 1px solid #e31436;
      position: relative;
      left: 0;
      top: 0;
      background: #fff; }
    .list1 .list-ul li:hover .li-a1 {
      height: 80px; }

.coupon1 {
  width: 1000px;
  height: 400px;
  margin: 0 auto; }
  .coupon1 img {
    width: 100%; }

article {
  background: #fff;
  overflow: hidden; }

.after {
  width: 1000px;
  margin: 0 auto; }
  .after img {
    width: 100%; }

.after-div {
  width: 1000px;
  margin: 0 auto; }
  .after-div .after-left {
    float: left;
    margin-top: 50px;
    display: block;
    width: 258px; }
    .after-div .after-left ul {
      width: 258px;
      background: red; }
      .after-div .after-left ul span {
        float: left;
        line-height: 35px;
        color: #333; }
      .after-div .after-left ul li {
        float: left;
        margin: 0 10px;
        width: 35px;
        height: 35px;
        background: url(../../src/gulpimg/jingling.png) -750px -65px; }
      .after-div .after-left ul li:nth-of-type(2) {
        background-position: -794px -65px; }
      .after-div .after-left ul li:nth-of-type(3) {
        background-position: -838px -65px; }
  .after-div .after-right {
    margin-top: 50px;
    width: 108px;
    float: right;
    text-align: center; }

.after-center {
  margin: 50px;
  float: left;
  width: 500px; }
  .after-center .after-left-ul {
    float: left;
    width: 100px;
    line-height: 30px; }
    .after-center .after-left-ul .after-left-ul-h3 {
      font-size: 17px; }
    .after-center .after-left-ul a {
      color: #333; }

footer {
  background: #000;
  padding: 10px;
  width: 100%; }

.float-ul {
  width: 100px;
  background: red;
  position: fixed;
  right: 10px;
  top: 200px;
  display: none; }
  .float-ul ul {
    width: 100%; }
    .float-ul ul li {
      line-height: 30px;
      border-bottom: 1px solid #CCCCCC;
      text-align: center; }

.two-home-list {
  width: 1090px;
  height: 500px;
  background: #fff; }
